@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@600&display=swap');

:root {
  --head-font : 'Noto Serif', serif;
  --purple : #6644b9;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}
